name: MLOps CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest mlflow scikit-learn pandas flake8 wget

      # 4. Train model (MLflow tracking set to local folder)
      - name: Train model
        run: |
          python -c "import mlflow; mlflow.set_tracking_uri('file://./mlruns')"
          python src/training/train.py

      # 5. Run tests
      - name: Run Pytest
        run: pytest tests/ -v

      # 6. Check train.py import
      - name: Check train.py import
        run: python -c "import src.training.train; print('train.py imported successfully')"
